.header{
        background-color: #003580;
        color: white;
        align-content: center;
}

.headlist {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-weight: bold;
}


.headlistitem{
    border: 2px solid rgb(150, 132, 132);
    border-radius: 30px;
    font-size: small;
    color:white;
    justify-items: center;
    align-items: center;
    padding:10px;
}

.headsearch{
    display: flex;
    justify-content:space-around;
   
   
}
.headsearch>div{
    margin: 1px;
    border: 2px yellow solid;
}

.headdate{
      position: relative;
      height: 5px;
      background-color: black;
      width: 5px;
      padding: 10px;
      z-index: 3;
}
.headcounts{
    width: 45px;
    border: none;
    
}